<!DOCTYPE html>
<%- include("./partials/header.ejs") %>
<div class="form-container">
    <form action=<%= routes.uploadQuestion(video.id) %> method="post">
        <input type="text" placeholder="Title" name="title" required=true>
        <input type="text" placeholder="userId" name="userId" required=true>
        <textarea name="description" placeholder="Description"></textarea>
        <input type="submit" value="Upload Question">
    </form>
</div>
<%- include("./partials/footer.ejs") %>